@page "{handler?}/{Id?}"
@model PTTKPM.Pages.MH_GaModel
@{
    List<string> colHeader = new List<string>() { "Id", "Mã số ga", "Tên ga", "Vị trí", "Tình trạng hoạt động", "Bản đồ" };
    
}

<!--****************************** Start-Body Popup Form - Modal ******************************-->
<div id="search">
    <form asp-page-handler="search" method="post">
        <input type="text" name="keyword" value="@Model.keyword">
        <button type="submit" class="btn-search">Tìm kiếm</button>
    </form>
</div>
<!--****************************** End-Body Popup Form - Modal ******************************-->
<div class="alert" style="background: yellow; width:max-content; float: right; cursor:pointer; color: red" id="quayLai">
    <a href="/MH_Ga">@Model.chuoi  </a>
    <span class="closebtn" onclick="this.parentElement.style.display='none';" style="font-size:22px">&times;</span>
</div>

<div style="color:#0366d6; cursor:pointer" onclick="document.getElementById('form-popup2').style.display='block'"><b>Tạo mới</b></div>

<!--****************************** Start-Body Popup Form - Modal ******************************-->
<div class="col2" style="overflow:scroll;">
    <table>
        <tr>
            <th></th>
            @foreach (var item in colHeader)
            {
                <th><div style="text-align:center; ">@item</div></th>
}
        </tr>
        @if (Model.danhsach != null)
        {
            @foreach (var item in Model.danhsach)
            {
                <tr>
                    <td><div class="fixed"><div class=""><input type="checkbox" name="ck" id=""></div></div></td>
                    <td>
                        <div class="container">
                            <div class="content">@item.Id</div>
                            <div class="spacer">@item.Id</div>
                            <span>&nbsp;</span>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            <div class="content">@item.MaSoGa</div>
                            <div class="spacer">@item.MaSoGa</div>
                            <span>&nbsp;</span>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            <div class="content">@item.TenGa</div>
                            <div class="spacer">@item.TenGa</div>
                            <span>&nbsp;</span>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            <div class="content">@item.ViTri</div>
                            <div class="spacer">@item.ViTri</div>
                            <span>&nbsp;</span>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            <div class="content">@item.TinhTrangHoatDong</div>
                            <div class="spacer">@item.TinhTrangHoatDong</div>
                            <span>&nbsp;</span>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            <div class="content">@item.BanDo</div>
                            <div class="spacer">@item.BanDo</div>
                            <span>&nbsp;</span>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            <div class="content">
                                <a href="/MH_Ga/update?Id=@item.Id">Sửa</a>
                                @if (Model.QuanTriHeThong_session == "1")
                                {<span> | </span><a href="/MH_Ga/delete?Id=@item.Id"> Xóa </a>}
                            </div>
                            <div class="spacer"><a href="#">Sửa</a> <a href="#">Xóa</a></div>
                            <span>&nbsp;</span>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
</div>
<!--****************************** End-Body Popup Form - Modal ******************************-->
<!--****************************** Start-CREATE Popup Form - Modal ******************************-->
<div class="form-popup" id="form-popup2">
    <form asp-page-handler="create" class="f-signup" method="post">
        <h1>Thêm mới Ga</h1>
        <div class="input_container">
            <label for="MaSoGa"><b>Mã số ga</b><input type="text" id="MaSoGa" name="MaSoGa" value="@Model.MaSoGa" placeholder="Mã số ga" minlength="" maxlength="50" required></label>
            <label for="TenGa"><b>Tên ga</b><input type="text" name="TenGa" value="@Model.TenGa" placeholder="Tên ga" minlength="" maxlength="50" required></label>
            <label for="ViTri"><b>Vị trí</b><input type="text" name="ViTri" value="@Model.ViTri" placeholder="Vị trí" minlength="" maxlength="50" required></label>
            <label for="TinhTrangHoatDong">
                <b>Tình trạng hoạt động</b>
                <select name="TinhTrangHoatDong" minlength="" maxlength="50" required>
                    <option value=""> </option>
                    @if (Model.TinhTrangHoatDong_List != null)
                    {
                        foreach (var Ga in Model.TinhTrangHoatDong_List)
                        {
                        <option value="@Ga"> @Ga </option>
                        }
                    }
                </select>
            </label>
            <label for="BanDo"><b>Bản đồ</b><input type="text" name="BanDo" value="@Model.BanDo" placeholder="Bản đồ" minlength="" maxlength="50" required></label>
        </div>

        <button type="button" class="btn" onclick="document.getElementById('form-popup2').style.display='none'">Hủy</button>
        <button type="submit" class="btn btn-signup">Thêm</button>
    </form>
</div>
<!--****************************** End-CREATE Popup Form ******************************-->
<!--****************************** Start-UPDATE Popup Form - Modal ******************************-->
<div class="form-popup" id="form-popup3">
    <form asp-page-handler="update" class="f-signup" method="post" id="form_update" asp-route-id="@Model.Id">
        <h1>Cập nhật Công ty Ga</h1>
        <div class="input_container">
            <label for="MaSoGa"><b>Mã số ga</b><input type="text" id="MaSoGa" name="MaSoGa" value="@Model.MaSoGa" placeholder="Mã số ga" minlength="" maxlength="50" required readonly></label>
            <label for="TenGa"><b>Tên ga</b><input type="text" name="TenGa" value="@Model.TenGa" placeholder="Tên ga" minlength="" maxlength="50" required></label>
            <label for="ViTri"><b>Vị trí</b><input type="text" name="ViTri" value="@Model.ViTri" placeholder="Vị trí" minlength="" maxlength="50" required></label>
            <label for="TinhTrangHoatDong">
                <b>Tình trạng hoạt động</b>
                <select name="TinhTrangHoatDong" placeholder="Tình trạng hoạt động" minlength="" maxlength="50" required>
                    <option value=""> </option>
                    @if (@Model.TinhTrangHoatDong_List != null)
                    {
                        @foreach (var item in Model.TinhTrangHoatDong_List)
                        {
                            if (item != @Model.TinhTrangHoatDong)
                            {
                            <option value="@item">@item </option>
                            }
                            else { <option value="@Model.TinhTrangHoatDong" selected> @item </option>}
                        }
                    }
                </select>
            </label>
            <label for="BanDo"><b>Bản đồ</b><input type="text" name="BanDo" value="@Model.BanDo" placeholder="Bản đồ" minlength="" maxlength="50" required></label>
        </div>

        <button type="button" class="btn" onclick="cancel()">Hủy</button>
        <button type="submit" class="btn btn-signup">Cập nhật</button>
    </form>
</div>
<!--****************************** End-UPDATE Popup Form ******************************-->
<!--****************************** Start-DELETE Popup Form - Modal ******************************-->
<div class="form-popup" id="form-popup4">
    <form asp-page-handler="delete" class="f-signup" method="post" id="form_delete" asp-route-id="@Model.Id">
        <p>Vui lòng xác nhận bạn muốn xóa mã @Model.Id bằng cách nhấn nút Xóa.</p>

        <button type="button" class="btn" onclick="cancel()">Hủy</button>
        <button type="submit" class="btn btn-signup">Xóa</button>
    </form>
</div>
<!--****************************** End-DELETE Popup Form ******************************-->