@page "{handler?}/{Id?}"
@model PTTKPM.Pages.MH_TuyenTau_GaTrungGianModel
@{
    List<string> colHeader = new List<string>() { "Id", "Mã số tuyến tàu", "Tên ga", "Thời gian dừng" };
    var chuoi2 = string.Empty;
}



<!--****************************** Start-Body Popup Form - Modal ******************************-->
<div id="search">
    <form asp-page-handler="search" method="post">
        <input type="text" name="keyword" value="@Model.keyword">
        <button type="submit" class="btn-search">Tìm kiếm</button>
    </form>
</div>
<div id="a"></div>
<!--****************************** End-Body Popup Form - Modal ******************************-->
<div class="alert" style="background: yellow; width:max-content; float: right; cursor:pointer; color: red" id="quayLai">
    <a href="/MH_TuyenTau_GaTrungGian">@Model.chuoi  </a>
    <span class="closebtn" onclick="this.parentElement.style.display='none';" style="font-size:22px">&times;</span>
</div>

<div style="color:#0366d6; cursor:pointer" onclick="document.getElementById('form-popup2').style.display='block'"><b>Tạo mới</b></div>


<!--****************************** Start-Body Popup Form - Modal ******************************-->
<div class="col2" style="overflow:scroll;">
    <table>
        <tr>
            <th></th>
            @foreach (var item in colHeader)
            {
                <th><div style="text-align:center; ">@item</div></th>
}
        </tr>
        @if (Model.danhsach != null)
        {
            @foreach (var item in Model.danhsach)
            {
                <tr>
                    <td><div class="fixed"><div class=""><input type="checkbox" name="ck" id=""></div></div></td>
                    <td>
                        <div class="container">
                            <div class="content">@item.Id</div>
                            <div class="spacer">@item.Id</div>
                            <span>&nbsp;</span>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            <div class="content">@item.TuyenTauId</div>
                            <div class="spacer">@item.TuyenTauId</div>
                            <span>&nbsp;</span>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            <div class="content">@item.GaId</div>
                            <div class="spacer">@item.GaId</div>
                            <span>&nbsp;</span>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            <div class="content">@item.ThoiGianDung</div>
                            <div class="spacer">@item.ThoiGianDung</div>
                            <span>&nbsp;</span>
                        </div>
                    </td>
                    <td>
                        <div class="container" style="display:flex; align-items:center;">
                            <div class="content">
                                <a href="/MH_TuyenTau_GaTrungGian/update?Id=@item.Id">Sửa</a>
                                @if (Model.QuanTriHeThong_session == "1")
                                {<span> | </span><a href="/MH_TuyenTau_GaTrungGian/delete?Id=@item.Id"> Xóa </a>}
                            </div>
                            <div class="spacer"><a href="#">Sửa</a> | <a href="#">Xóa</a></div>
                            <span>&nbsp;</span>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
</div>

<!--****************************** Start-CREATE Popup Form - Modal ******************************-->
<div class="form-popup" id="form-popup2">
    <form asp-page-handler="create" class="f-signup" method="post">
        <h1>Thêm mới Ga trung gian</h1>
        <div class="input_container">
            <label for="TuyenTauId">
                <b>Mã số tuyến tàu</b>
                <select name="TuyenTauId" onchange="loadLoaiHang('/input/LoaiHang.txt')" required>
                    <option value=""> </option>
                    @if (Model.DS_TuyenTau != null)
                    {
                        foreach (var TuyenTau in Model.DS_TuyenTau)
                        {
                            <option value="@TuyenTau.Id"> @TuyenTau.Id </option>
}
                    }
                </select>
            </label>
            <label for="GaId">
                <b>Mã số ga</b>
                <select name="GaId" onchange="loadLoaiHang('/input/LoaiHang.txt')" required>
                    <option value=""> </option>
                    @if (Model.DS_Ga != null)
                    {
                        foreach (var Ga in Model.DS_Ga)
                        {
                            <option value="@Ga.Id"> @Ga.Id </option>
}
                    }
                </select>
            </label>
            <label for="ThoiGianDung"><b>Thời gian dừng</b><input type="text" name="ThoiGianDung" value="@Model.ThoiGianDung" placeholder="Thời gian dừng" required></label>
        </div>

        <button type="button" class="btn" onclick="document.getElementById('form-popup2').style.display='none'">Hủy</button>
        <button type="submit" class="btn btn-signup">Thêm</button>
    </form>
</div>
<!--****************************** End-CREATE Popup Form ******************************-->
<!--****************************** Start-UPDATE Popup Form - Modal ******************************-->
<div class="form-popup" id="form-popup3">
    <form asp-page-handler="update" class="f-signup" method="post" id="form_update" asp-route-id="@Model.Id">
        <h1>Cập nhật Ga trung gian</h1>
        <div class="input_container">
            <label for="TuyenTauId">
                <b>Mã số tuyến tàu</b>
                <select name="TuyenTauId" onchange="loadLoaiHang('/input/LoaiHang.txt')" required>
                    <option value="" disabled> </option>
                    @if (Model.DS_TuyenTau != null)
                    {
                        foreach (var item in Model.DS_TuyenTau)
                        {
                            if (@item.Id != @Model.TuyenTauId)
                            {
                                <option value="@item.Id"> @item.Id </option>
 }
                            else
                            {
                                <option value="@Model.TuyenTauId" selected> @item.Id </option>
}
                        }
                    }
                </select>
            </label>
            <label for="GaId">
                <b>Mã số ga</b>
                <select name="GaId" onchange="loadLoaiHang('/input/LoaiHang.txt')" required>
                    <option value="" disabled> </option>
                    @if (Model.DS_Ga != null)
                    {
                        foreach (var item in Model.DS_Ga)
                        {
                            if (@item.Id != @Model.GaId)
                            {
                                <option value="@item.Id"> @item.Id </option>
 }
                            else
                            {
                                <option value="@Model.GaId" selected> @item.Id </option>
}
                        }
                    }
                </select>
            </label>
            <label for="ThoiGianDung"><b>Thời gian dừng</b><input type="text" name="ThoiGianDung" value="@Model.ThoiGianDung" placeholder="Thời gian dừng" required></label>
        </div>

        <button type="button" class="btn" onclick="cancel()">Hủy</button>
        <button type="submit" class="btn btn-signup">Cập nhật</button>
    </form>
</div>
<!--****************************** End-UPDATE Popup Form ******************************-->
<!--****************************** Start-DELETE Popup Form - Modal ******************************-->
<div class="form-popup" id="form-popup4">
    <form asp-page-handler="delete" class="f-signup" method="post" id="form_delete" asp-route-id="@Model.Id">
        <p>Vui lòng xác nhận bạn muốn xóa mã @Model.GaId bằng cách nhấn nút Xóa.</p>

        <button type="button" class="btn" onclick="cancel()">Hủy</button>
        <button type="submit" class="btn btn-signup">Xóa</button>
    </form>
</div>
<!--****************************** End-DELETE Popup Form ******************************-->

<script type="text/javascript">
    async function loadLoaiHang(url) {
        var select = document.getElementById("maloaihang");
        var result = select.options[select.selectedIndex].value;

        const response = await fetch(url);
        const data = await response.text();
        var lineArr = data.split('\n');

        for (var i = 1; i < lineArr.length; i++) {
            var line = lineArr[i].split(',');
            if (line[0] == result) {
                document.getElementById("maloaihang_nguoidungtao").value = line[1];
                document.getElementById("tenloaihang").value = line[2];
                break;
            }
        }
    }
</script>

<script>
    //bấm nút sửa hay
</script>
